# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
livecaption/
venv/
env/
.env
.venv

# IDEs
.vscode/
.idea/

# Project Specific
snapshot*.jpg
*.log

# OS
Thumbs.db
Desktop.ini
.DS_Store
